body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

canvas {
    border: 1px solid black;
    margin: 20px 0;
    background-color: white;
}

input {
    margin: 10px;
}

#resolution {
    margin: 20px 0;
}
