body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    display: flex;
    overflow: hidden;
}

.sidebar {
    background-color: #1c1c1c;
    padding: 20px;
    width: 220px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease;
}

.sidebar:hover {
    width: 240px;
}

.container {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.file-input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #333333;
    color: #ffffff;
    width: 100%;
    transition: all 0.3s ease;
}

.file-input:focus {
    border-color: #4CAF50;
}

.text-view {
    width: 100%;
    height: 80vh;
    padding: 15px;
    border: 1px solid #333333;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    resize: vertical;
    box-sizing: border-box;
    font-family: monospace;
    background-color: #1c1c1c;
    color: #ffffff;
    transition: all 0.3s ease;
}

.text-view:focus {
    border-color: #4CAF50;
}

.save-button, .convert-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    width: 100%;
}

.save-button:hover, .convert-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.save-button:active, .convert-button:active {
    transform: translateY(0);
}

::placeholder {
    color: #999999;
}
